/* style.css */

body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f0f0;
  color: #333;
}

#app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin-top: 40px;
}

input[type="text"],
input[type="password"],
input[type="file"],
label,
button,
select { /* Tambahkan 'select' di sini */
  display: block;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="file"],
select { /* Tambahkan 'select' di sini */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #2d89ef;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #1b5fc7;
}

h2 {
  color: #2d89ef;
}

#bidang-group input[type="radio"] {
  margin-right: 8px;
}

canvas {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#time-display {
  white-space: pre-wrap; /* Ini akan membuat \n dirender sebagai baris baru */
  margin: 10px 0; /* Sesuaikan margin agar konsisten dengan elemen form lainnya */
  font-size: 16px; /* Sesuaikan ukuran font jika diperlukan */
  color: #555; /* Warna teks agak abu-abu agar tidak terlalu menonjol */
}

@media (max-width: 600px) {
  #app {
    margin: 10px;
    padding: 15px;
  }

  button {
    padding: 10px;
  }

  input, label, select { /* Tambahkan 'select' di sini */
    font-size: 14px;
  }
}

/* Loading Overlay */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2d89ef;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
